footer{
    color: white;
}
footer a{
    color: #bfffff;
}
footer a:hover{
    color: white;
}

.footer-bottom{
    background: #3A9B83;
    padding: 2em;
}
.footer-top{
    background: #3A9B83;
}
.footer-middle{
    background: #3A9B83;
    padding-top: 2em;
    color: white;
}
/**Sub Navigation**/
.subnavigation-container{
    background: #3A9B83;
}
.subnavigation .nav-link{
    color: white;
    font-weight: bold;
}
.subnavigation-container{
    text-align: center;
}
.subnavigation-container .navbar{
    display: inline-block;
    margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
    padding: 1rem 1rem;
    color: white;
    font-weight: bold;
}
.col-subnav .active{
    border-top:5px solid orange;
    background: white;
    color: black;
}
/* ici pour séparer les differents bloc */
div[class*='spacer-'] { display: block; }
.spacer-mini { height: 10px; }